<html>
   <head>
      <title>Change Password</title>
      <link rel="stylesheet" type="text/css" href="../static/style.css" media="screen" title="bbxcss">
   </head>
   <body>
      <div class="container">
         <form id="chpwd" action="/" method="post" autocomplete="off">
            <h1>Change Password</h1>
            <p>
               <label for="username">Username</label>
               <input id="username" type="text" placeholder="Username"
               name="username" value="" required>
            </p>
            <p>
               <label for="password">Password</label>
               <input id="password" type="password" placeholder="Password"
               name="password" value="" required>
            </p>
            <p>
               <label for="newpwd">New Password</label>
               <input id="newpwd" type="password" placeholder="New Password"
               name="newpwd" value="" required>
            </p>
            <p>
               <label for="confirmpwd">Confirm Password</label>
               <input id="confirmpwd" type="password" placeholder="Re-type New
               Password" name="confirmpwd" value="" required>
            </p>
            <p>
               <input class="submit" type="submit" value="Submit">
            </p>
         </form>
      </div>
   </body>
</html>
